<!DOCTYPE html>
<html>
<head>
    <title>Student details</title>
</head>
<body>
    <h1>@Model.Name Details</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Student Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Email</td>
                <td>@Model.Gender</td>
            </tr>
        </tbody>
    </table>
</body>
</html>